# Analysis of the Batting scores on t20 Cricket results

# 1. Data Extraction  

## Load some random file and display the data

In [45]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os, glob

In [43]:
col_names=['ball', 'innings', 'overs', 'team', 'batsman1', 'batsman2', 
           'bowler', 'runs', 'extras', 'wkt_type', 'wkt_batsman']

database_dir='../dataset/csv/t20_csv_male/'
fil=os.path.join(database_dir,  '211028.csv' )
df=pd.read_csv(fil, skiprows=17, header=None, names=col_names)
df.head(10)

,ball,innings,overs,team,batsman1,batsman2,bowler,runs,extras,wkt_type,wkt_batsman
0,ball,1,0.1,England,ME Trescothick,GO Jones,B Lee,0,0,NaN,NaN
1,ball,1,0.2,England,ME Trescothick,GO Jones,B Lee,1,0,NaN,NaN
2,ball,1,0.3,England,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN
3,ball,1,0.4,England,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN
4,ball,1,0.5,England,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN
5,ball,1,0.6,England,GO Jones,ME Trescothick,B Lee,0,1,NaN,NaN
6,ball,1,0.7,England,GO Jones,ME Trescothick,B Lee,2,0,NaN,NaN
7,ball,1,1.1,England,ME Trescothick,GO Jones,GD McGrath,0,0,NaN,NaN
8,ball,1,1.2,England,ME Trescothick,GO Jones,GD McGrath,0,0,NaN,NaN
9,ball,1,1.3,England,ME Trescothick,GO Jones,GD McGrath,0,1,NaN,NaN

I want to get only the scores at over number 6(end of powerplay), over 10, over 15 and over 20(or end of the game). for each innings. So let's get rid of the non-numeric columns.

In [4]:
df1=df.drop(columns=["ball","team","batsman1", "batsman2", "bowler", "wkt_type"])
df1.head()

   innings  overs  runs  extras wkt_batsman
0        1    0.1     0       0         NaN
1        1    0.2     1       0         NaN
2        1    0.3     0       0         NaN
3        1    0.4     0       0         NaN
4        1    0.5     0       0         NaN

In [5]:
df1.loc[5]

innings          1
overs          0.6
runs             0
extras           1
wkt_batsman    NaN
Name: 5, dtype: object

In [7]:
import numpy as np

def get_runs_wkts(inn):
    ovr_max = df1['overs'][df1['innings']==inn].values[-1]
    ovr_L=np.array([6, 10, 15])
    
    # Update the over list when the innings ends before 20 over.
    ovr_L=ovr_L[ovr_L<=ovr_max]
    ov_dict={6:6.1, 10:10.1, 15:15.1}
    
    dat=[]
    for ovr in ovr_L:
        indx,=np.where(df1['overs'][df1['innings']==inn].values==ov_dict[ovr]); indx=indx[0]
        runs_bat=np.sum( df1['runs'][df1['innings']==inn].values[:indx])
        runs_ext=np.sum( df1['extras'][df1['innings']==inn].values[:indx])
        wkts_tot=len(df1['wkt_batsman'][df1['innings']==inn][:indx].dropna())
        #print (ovr, wkts_tot)
        runs_tot = runs_bat + runs_ext
        dat.append([ovr, runs_tot, wkts_tot ])

    ovr=ovr_max
    runs_bat=np.sum( df1['runs'][df1['innings']==inn].values)
    runs_ext=np.sum( df1['extras'][df1['innings']==inn].values)
    wkts_tot=len(data1['wkt_batsman'][df1['innings']==inn].dropna())
    runs_tot = runs_bat + runs_ext
    dat.append([ovr, runs_tot, wkts_tot ])
    
    if ovr_max <15.1:
        dat.append([20., runs_tot, wkts_tot ])
    
    return np.array(dat)
    
RW=get_runs_wkts(inn=2)
RW_format =np.array( list(RW[0,1:]) + list(RW[1,1:]) + list(RW[2,1:])+ list(RW[3,1:]) )
print (RW_format)

NameError: name 'data1' is not defined

In [1]:
def read_scoreboard(match_num=226374):
    base_dir='../dataset/csv/t20_csv_male/'
    fil=os.path.join(base_dir, str(match_num)+'.csv')
    df2=pd.read_csv(fil, nrows=16, skiprows=1, names=['INFO', 'info_key','info_val']).T
    Teams=(df2.values[2][:2])
    info_dict={df2.values[1][i]:df2.values[2][i] for i in range(len(df2.values[1]))}

    if info_dict.get('winner'):
        #ylabel=[0,1][Teams==info_dict.get('winner')]
        ylabel=np.array([0,1])[Teams==info_dict.get['winner']]
        print (ylabel)
    return info_dict

for n in ['237242', '238195', '225271', '225263']:
    dic=read_scoreboard(n)
    #print (n, dic)
    #print ('')
    print  (dic.get('toss_winner'), dic.get('winner'), dic.get('outcome') )
    

#read_scoreboard(238195)

NameError: name 'os' is not defined

In [236]:
match_num_fil=open('../dataset/yaml/match_num', 'r')
lines=match_num_fil.readlines()
print ([line.strip('\n') for line in lines[:10]])

['211048', '211028', '222678', '226374', '237242', '238195', '225271', '225263', '255954', '251487']

In [358]:
[np.array(['1', '2', '3', '4', '5'])=='1']

[array([ True, False, False, False, False])]

In [370]:
match_num=226374
base_dir='../dataset/csv/t20_csv_male/'
fil=os.path.join(base_dir, str(match_num)+'.csv')
df2=pd.read_csv(fil, nrows=16, skiprows=1, names=['INFO', 'info_key','info_val']).T
Teams=(df2.values[2][:2])
info_dict={df2.values[1][i]:df2.values[2][i] for i in range(len(df2.values[1]))}

print (Teams)
print (info_dict['winner'])

np.array([0,1])[Teams==info_dict['winner']]
#Teams[1]==info_dict['winner']

#ylabel=[0,1][Teams==info_dict.get('winner')]

['Australia' 'South Africa']
Australia

array([0])