In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Removing arrays with multiple conditions in dataframe

In [12]:
a1= [1,2,3,4,5, 6, 7]
a11 = [11, 22, 33, 44, 55, 66, 77]
names = ['apple', 'banana', 'orange', 'grape', 'mango', 'apple', 'banana']
df= pd.DataFrame({'a1':a1, 'a11':a11, 'names':names})
df

   a1  a11   names
0   1   11   apple
1   2   22  banana
2   3   33  orange
3   4   44   grape
4   5   55   mango
5   6   66   apple
6   7   77  banana

In [14]:
df= pd.DataFrame({'a1':a1, 'a11':a11, 'names':names})

print (df)
df.drop(df[df['names']=='apple'].index, inplace=True)
print ('without apple')
print (df)
df.drop( df[df['names']=='apple'].index | df[df['names']=='grape'].index, inplace=True) #works good
print ('without apple and grape')
print (df)

   a1  a11   names
0   1   11   apple
1   2   22  banana
2   3   33  orange
3   4   44   grape
4   5   55   mango
5   6   66   apple
6   7   77  banana
without apple
   a1  a11   names
1   2   22  banana
2   3   33  orange
3   4   44   grape
4   5   55   mango
6   7   77  banana
without apple and grape
   a1  a11   names
1   2   22  banana
2   3   33  orange
4   5   55   mango
6   7   77  banana

In [18]:
df= pd.DataFrame({'a1':a1, 'a11':a11, 'names':names})
list(df['names'].unique() )

['apple', 'banana', 'orange', 'grape', 'mango']

In [10]:
df= pd.DataFrame({'a1':a1, 'a11':a11, 'names':names})
df.head()
print (df)
#df.drop( df[df['names'] != 'apple'].index & df[df['names'] !='grape'].index  & df[df['names'] !='mango'].index, inplace=True) #works good
print ()
print (df)

   a1  a11   names
0   1   11   apple
1   2   22  banana
2   3   33  orange
3   4   44   grape
4   5   55   mango

   a1  a11  names
0   1   11  apple
3   4   44  grape
4   5   55  mango

# subtracting a list

In [ ]:
l1 = ['a','b','c', 'x']
l2 = ['e','f','a','b']

l3 = l1+l2
l4 = list( set(l1)-set(l2) )

l5 = [x for x in l1 if x not in l2]
print (l1, '\n', l2, '\n', l3, '\n', l4, '\n', l5)