In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os, glob, yaml, pickle
import datetime

In [15]:
def player_profile(player):
    print (player)
    df=pickle.load(open('./database/scorecard_all.df', 'rb'))

    data=[]
    for season in range(2008, 2020, 1):
        dfp   = df[ (df['season']==str(season)) & (df['batsman']==player) ]
        Inns_ = dfp.shape[0]
        Runs_ = dfp.Runs.sum()
        BF_   = dfp.BF.sum()
        NOs_  = dfp.NO.sum()
        HS    = max(dfp.Runs)
        Fifty = ((dfp.Runs>=50) & (dfp.Runs<100) ).sum()
        Hundred = (dfp.Runs>=100).sum()
        SR    = np.round(100*Runs_/BF_, 2)
        Ave   = np.round(Runs_/(Inns_-NOs_), 2)
        Fours = dfp['4'].sum()
        Sixes = dfp['6'].sum()

        data.append([season, Inns_, NOs_, Runs_, BF_, HS, Ave, SR, Fifty, Hundred, Fours, Sixes] )
    df_p = pd.DataFrame(data, columns=['season', 'Innings', 'NO', 'Runs', 'BF', 'HS', 'Ave','SR', '50s', '100s', '4s', '6s'])
    print ( df_p.shape)
    return df_p

def team_profile(team):
    df=pickle.load(open('./database/scorecard_all.df', 'rb'))
    dft = df[ (df['Team']==team) | (df['Against']==team) ]

def all_players():
    df=pickle.load(open('./database/scorecard_all.df', 'rb'))

player='AB de Villiers'
player_profile(player)
#team_profile(team)

AB de Villiers
(12, 12)

    season  Innings  NO  Runs   BF   HS    Ave      SR  50s  100s  4s  6s
0     2008        6   1    95   98   26  19.00   96.94    0     0   5   1
1     2009       13   4   465  355  105  51.67  130.99    3     1  39  12
2     2010        7   0   111  119   45  15.86   93.28    0     0   7   0
3     2011       13   4   312  243   65  34.67  128.40    2     0  21  14
4     2012       13   5   319  198   64  39.88  161.11    3     0  26  15
5     2013       14   5   334  191   64  37.11  174.87    2     0  31  16
6     2014       13   2   395  249   89  35.91  158.63    3     0  26  24
7     2015       14   3   513  293  133  46.64  175.09    2     1  60  22
8     2016       16   3   687  407  129  52.85  168.80    6     1  57  37
9     2017        9   1   216  163   89  27.00  132.52    1     0  12  16
10    2018       11   2   480  275   90  53.33  174.55    6     0  39  30
11    2019       13   3   442  287   82  44.20  154.01    5     0  31  26

In [ ]:
def summary_():
    print (player)
    df=pickle.load(open('./database/scorecard_all.df', 'rb'))

In [3]:
d1=[1, 'a', 'cat', 10, 5]
d2=[2, 'b', 'dog', 20, 9]
d3=[3, 'b', 'fish', 15, 1]
d4=[4, 'a', 'goat', 20, 8]

dff = pd.DataFrame([d1, d2, d3, d4], columns=['indx', 'catagory','name', 'f1', 'f2'])
dff

   indx catagory  name  f1  f2
0     1        a   cat  10   5
1     2        b   dog  20   9
2     3        b  fish  15   1
3     4        a  goat  20   8

In [11]:
#dff.loc[5]=[5, 'c', 'duck', 5, 2]
dff.loc[4]=dff.sum(axis=0)

In [12]:
dff

   indx catagory                name  f1  f2
0     1        a                 cat  10   5
1     2        b                 dog  20   9
2     3        b                fish  15   1
3     4        a                goat  20   8
5     5        c                duck   5   2
4    15    abbac  catdogfishgoatduck  70  25