# Ball-by-ball commentary from ESPN

- [how to web scrape with python TDS](https://towardsdatascience.com/how-to-web-scrape-with-python-in-4-minutes-bc49186a8460)

In [1]:
#import numpy as np
#import pylab as plt
import pandas as pd
import requests
from bs4 import BeautifulSoup

data_dir = './datasets/'

In [2]:

##<a href="data/nyct/turnstile/turnstile_200912.txt">Saturday, September 12, 2020</a>

In [3]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup

In [4]:
url = 'http://web.mta.info/developers/turnstile.html'
response = requests.get(url)
response

In [5]:
soup = BeautifulSoup(response.text, "html.parser")

In [6]:
all_a = soup.find_all('a')

In [7]:
a_38 = all_a[38]
print (a_38)
link = a_38['href']
link

<a href="data/nyct/turnstile/turnstile_200905.txt">Saturday, September 05, 2020</a>

'data/nyct/turnstile/turnstile_200905.txt'

In [8]:
download_url = 'http://web.mta.info/developers/'+ link
urllib.request.urlretrieve(download_url,'./datasets/'+link.split('/')[3])
#urllib.request.urlretrieve(download_url,'./'+link[link.find('/turnstile_')+1:])

('./datasets/turnstile_200905.txt', <http.client.HTTPMessage at 0x1118de700>)

## For ESPN webpage

**Reference**
- [codeacademy article on web scraping](https://news.codecademy.com/web-scraping-python-beautiful-soup-mlb-stats/)

In [9]:
url='http://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2018/start/1'
page = requests.get(url)
print (page)

<Response [200]>

In [10]:
#print ( page.text )

In [11]:
soup = BeautifulSoup(page.text, "html.parser")

In [12]:
all_a = soup.find_all('a')

In [13]:
print ( all_a[12] )

<a href="/mlb/history/awards">Awards</a>

In [14]:
soup.find_all('tr', attrs={'class': 'oddrow player-10-33039'})

[<tr align="right" class="oddrow player-10-33039"><td align="left">1</td><td align="left"><a href="http://www.espn.com/mlb/player/_/id/33039/mookie-betts"><span class="bi">Mookie Betts</span></a></td><td align="left">6</td><td>136</td><td>520</td><td>129</td><td>180</td><td>47</td><td>5</td><td>32</td><td>80</td><td>81</td><td>91</td><td>30</td><td>6</td><td class="sortcell">.346</td></tr>]

In [15]:
soup.find('tr', attrs={'class': 'oddrow player-10-33039'})

<tr align="right" class="oddrow player-10-33039"><td align="left">1</td><td align="left"><a href="http://www.espn.com/mlb/player/_/id/33039/mookie-betts"><span class="bi">Mookie Betts</span></a></td><td align="left">6</td><td>136</td><td>520</td><td>129</td><td>180</td><td>47</td><td>5</td><td>32</td><td>80</td><td>81</td><td>91</td><td>30</td><td>6</td><td class="sortcell">.346</td></tr>

In [16]:
soup.find('tr', attrs={'class': 'colhead'})

<tr align="right" class="colhead"><td></td><td align="left" width="30%">PLAYER</td><td align="left">YRS</td><td><a href="//www.espn.com/mlb/history/leaders/_/breakdown/season/year/2018/sort/gamesPlayed" title="Games">G</a></td><td><a href="//www.espn.com/mlb/history/leaders/_/breakdown/season/year/2018/sort/atBats" title="At Bats">AB</a></td><td><a href="//www.espn.com/mlb/history/leaders/_/breakdown/season/year/2018/sort/runs" title="Runs Scored">R</a></td><td><a href="//www.espn.com/mlb/history/leaders/_/breakdown/season/year/2018/sort/hits" title="Hits">H</a></td><td><a href="//www.espn.com/mlb/history/leaders/_/breakdown/season/year/2018/sort/doubles" title="Doubles">2B</a></td><td><a href="//www.espn.com/mlb/history/leaders/_/breakdown/season/year/2018/sort/triples" title="Triples">3B</a></td><td><a href="//www.espn.com/mlb/history/leaders/_/breakdown/season/year/2018/sort/homeRuns" title="Home Runs">HR</a></td><td><a href="//www.espn.com/mlb/history/leaders/_/breakdown/season/year/2018/sort/RBIs" title="Runs Batted In">RBI</a></td><td><a href="//www.espn.com/mlb/history/leaders/_/breakdown/season/year/2018/sort/walks" title="Walks">BB</a></td><td><a href="//www.espn.com/mlb/history/leaders/_/breakdown/season/year/2018/sort/strikeouts" title="Strikeouts">SO</a></td><td><a href="//www.espn.com/mlb/history/leaders/_/breakdown/season/year/2018/sort/stolenBases" title="Stolen Bases">SB</a></td><td><a href="//www.espn.com/mlb/history/leaders/_/breakdown/season/year/2018/sort/caughtStealing" title="Caught Stealing">CS</a></td><td class="sortcell">BA</td></tr>

In [17]:
soup.find('tr', attrs={'class': 'oddrow player-10-33039'})

<tr align="right" class="oddrow player-10-33039"><td align="left">1</td><td align="left"><a href="http://www.espn.com/mlb/player/_/id/33039/mookie-betts"><span class="bi">Mookie Betts</span></a></td><td align="left">6</td><td>136</td><td>520</td><td>129</td><td>180</td><td>47</td><td>5</td><td>32</td><td>80</td><td>81</td><td>91</td><td>30</td><td>6</td><td class="sortcell">.346</td></tr>

In [18]:
row = soup.find('tr', attrs={'class': 'oddrow player-10-33039'})

print(row)
for data in row.find_all('td'):
    print (data.get_text())

<tr align="right" class="oddrow player-10-33039"><td align="left">1</td><td align="left"><a href="http://www.espn.com/mlb/player/_/id/33039/mookie-betts"><span class="bi">Mookie Betts</span></a></td><td align="left">6</td><td>136</td><td>520</td><td>129</td><td>180</td><td>47</td><td>5</td><td>32</td><td>80</td><td>81</td><td>91</td><td>30</td><td>6</td><td class="sortcell">.346</td></tr>
1
Mookie Betts
6
136
520
129
180
47
5
32
80
81
91
30
6
.346

## creating a df

In [19]:
header = soup.find('tr', attrs={'class': 'colhead'})
columns = [col.get_text() for col in header.find_all('td')]

In [20]:
final_df = pd.DataFrame(columns=columns)
final_df

Empty DataFrame
Columns: [, PLAYER, YRS, G, AB, R, H, 2B, 3B, HR, RBI, BB, SO, SB, CS, BA]
Index: []

In [21]:
import re

players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})
#print ( players )

In [22]:
for player in players:
    #print (player)
    stats = [stat.get_text() for stat in player.find_all('td')]
    tmp_df = pd.DataFrame(stats).transpose()
    tmp_df.columns = columns
    #print (stats)
    final_df = pd.concat([final_df, tmp_df], ignore_index=True)
    # we can do final_df.append(tmp_df, ignore_index = True)

In [23]:
print (final_df.shape)
final_df.head(2)

(50, 16)

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Mookie Betts,6,136,520,129,180,47,5,32,80,81,91,30,6,.346
1,2,J.D. Martinez,9,150,569,111,188,37,2,43,130,69,146,6,1,.330

### Scrapping info for all the 331 players

In [24]:
def get_all_players():    
    url_1='http://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2018/start/1'
    page = requests.get(url_1)
    soup = BeautifulSoup(page.text, "html.parser")

    header = soup.find('tr', attrs={'class': 'colhead'})
    columns = [col.get_text() for col in header.find_all('td')]

    df = pd.DataFrame(columns=columns)

    for i in range(1, 331, 50):
        url='http://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2018/start/'+str(i)
        page = requests.get(url)
        soup = BeautifulSoup(page.text, "html.parser")

        players = soup.find_all('tr', attrs={'class':re.compile('row player-10-')})

        for player in players:
            #print (player)
            stats = [stat.get_text() for stat in player.find_all('td')]
            tmp_df = pd.DataFrame(stats).transpose()
            tmp_df.columns = columns
            #print (stats)
            df = pd.concat([df, tmp_df], ignore_index=True)
            # we can do final_df.append(tmp_df, ignore_index = True)

    return df

df = get_all_players()

print (f"df.shape: {df.shape}")

display( df.head(2) )

df.shape: (331, 16)

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Mookie Betts,6,136,520,129,180,47,5,32,80,81,91,30,6,.346
1,2,J.D. Martinez,9,150,569,111,188,37,2,43,130,69,146,6,1,.330

### Cricket data from Cricinfo

In [84]:
#url = 'https://www.espncricinfo.com/series/19496/commentary/1198239/england-vs-australia-2nd-odi-england-v-australia-2020'
url = 'https://www.espncricinfo.com/series/19496/commentary/1198240/england-vs-australia-3rd-odi-england-v-australia-2020'
page = requests.get(url)
soup = BeautifulSoup(page.text, "html.parser")

In [85]:
div = soup.find('div')
#div.find('div', {'class': 'over-circle'})
div.find_all('div', {'class': 'description'})
#div.find('a')

[<div class="description">Sam Billings, Chris Woakes add half-centuries after hosts had slumped to 2 for 0 in first two balls</div>,
 <div class="description">Australia will make a decision shortly before the start of the deciding match</div>,
 <div class="description">England gunning to extend unbeaten home run in ODIs after thrilling fightback in second match</div>,
 <div class="description">"He has ticked every box at the moment," coach Justin Langer said</div>,
 <div class="description">ECB redundancies overshadow final ODI as central contracts loom for England players</div>,
 <div class="description">1:00</div>]

In [121]:
for row in div.find_all('div')[400].find_all('div')[0].find_all('a'):
    print (row.attrs['data-hover'])

DA Warner
AJ Finch
MP Stoinis
M Labuschagne
MR Marsh
AT Carey
GJ Maxwell
PJ Cummins
MA Starc
A Zampa
JR Hazlewood

In [136]:
print ( len(div.find_all('div')) )
for row in div.find_all('div')[:8]:
    print (row.find('div').attrs)
    #[400].find_all('div'):
    #print (row)
    #.find_all('a'):
    #print (row.attrs['data-hover'])

412
{'class': []}
{}
{}
{'class': ['container', 'd-none', 'd-lg-block']}
{'class': ['row']}
{'class': ['col-16']}
{'class': ['leagues-container']}
{}

In [77]:
for div in soup('div', {'class': 'time-stamp'}):
    # ball_data[div.find('div').attrs['class'][0]] = div.text.strip()
    print ( div.text )

In [ ]:

for div in innings_soup.findAll('div', {'class': 'time-stamp'}):
    # ball_data[div.find('div').attrs['class'][0]] = div.text.strip()
    ball_numbers.append(div.text)

In [40]:
#soup.find_all('tr')

rows = soup.find_all('tr')

for row in rows:
    stats = [stat.get_text() for stat in row.find_all('td')]
    print ( stats )
#[d.get_text() for d in soup.find_all('tr')]
 
#columns = [col.get_text() for col in header.find_all('td')]

['Player Name', 'R', 'B']
['DA Warner', 'caught †', '6', '11']
['AJ Finch', 'bowled', '73', '105']
['MP Stoinis', 'caught †', '9', '14']
['M Labuschagne', 'lbw', '48', '59']
['MR Marsh', 'bowled', '1', '6']
['AT Carey', 'stumped', '36', '41']
['GJ Maxwell', 'bowled', '1', '8']
['PJ Cummins', 'bowled', '11', '19']
['MA Starc', 'caught †', '0', '1']
['A Zampa', 'caught', '2', '19']
['JR Hazlewood', 'not out', '7', '10']
['Extras', '(lb 11, w 1, nb 1)']
['Total', '207(all out; 48.4 ovs)']
['Player Name', 'O', 'M', 'R', 'W', 'Econ']
['CR Woakes', '10', '1', '32', '3', '3.20 ']
['JC Archer', '10', '2', '34', '3', '3.40 ']
['TK Curran', '10', '2', '28', '0', '2.80 ']
['AU Rashid', '9.4', '0', '67', '1', '6.93 (1nb)']
['SM Curran', '9', '0', '35', '3', '3.88 (1w)']
['WKT', 'RUNS', 'Players']
['1st', '9', 'AJ Finch', 'DA Warner']
['2nd', '28', 'AJ Finch', 'MP Stoinis']
['3rd', '107', 'AJ Finch', 'M Labuschagne']
['4th', '1', 'AJ Finch', 'MR Marsh']
['5th', '0', 'AJ Finch', 'AT Carey']
['6th', '2', 'GJ Maxwell', 'AT Carey']
['7th', '19', 'AT Carey', 'PJ Cummins']
['8th', '0', 'MA Starc', 'AT Carey']
['9th', '10', 'AT Carey', 'A Zampa']
['10th', '31', 'JR Hazlewood', 'AT Carey']

In [30]:
header

In [52]:
x=['a','b','c']
x1=[1,2,3]
x2=[4,5,6]
x3=[7,8,9]
x4=[10,11,12]

dff=pd.DataFrame([x1,x2,x3,x4], columns=x)

In [53]:
dff

    a   b   c
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [56]:
dff.loc[4]=[13,14,15]

In [57]:
dff

    a   b   c
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12
4  13  14  15

In [69]:
dft = pd.DataFrame(columns=['a','b','c'])

In [71]:
dft, dft.index

(Empty DataFrame
 Columns: [a, b, c]
 Index: [],
 Index([], dtype='object'))

In [74]:
len(dft.index)

0

In [64]:
dat = [0, 3,6,9,12]
for i, d in enumerate(dat):
    dft.loc[i] = range(dat[i], dat[i]+3) 
dft

    a   b   c
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [62]:
[i for i in range(3,6)]

[3, 4, 5]

In [68]:
max(dft.index)

4

In [75]:
def add_row(df, data):
    if len(df.index)==0:
        new_indx = 0
    else:
        new_indx = max(df.index)+1
        
    for i, row in enumerate(data):
        df.loc[new_indx+i] = row
        
    return df

dft = pd.DataFrame(columns=['a','b','c'])
dat = [ [1,2,3], [4,5,6] ]
df_new = add_row(dft, dat)
df_new

   a  b  c
0  1  2  3
1  4  5  6

In [76]:
dat = [ [11,12,13], [14,15,16] ]
df_new = add_row(df_new, dat)

df_new

    a   b   c
0   1   2   3
1   4   5   6
2  11  12  13
3  14  15  16

In [168]:
def scrapCommentary():
    
    url = 'https://www.espncricinfo.com/series/19496/commentary/1198240/england-vs-australia-3rd-odi-england-v-australia-2020'
    page = requests.get(url)
    soup = BeautifulSoup(page.text, "html.parser")
    
    # Find all the comments 
    #com = soup.find('div', attrs={'class': 'match-comment'})  # find_all will give you 7
    #print (com.find('div', attrs={'class': 'match-comment-long-text'}))
    
    com_wkt_all = soup.find_all('div', attrs={'class': 'match-comment'})
    
    for com_wkt in com_wkt_all:
        print (com_wkt.text)
        
        
    ##<div itemprop="articleBody" class="match-comment-long-text"><span><strong>that one is a wide though!</strong> Tried for the same ball, but just the wrong side of reachable. Good option though ... I wonder if he'll try it again...</span></div>
    
scrapCommentary()

9.30pm So, that's the end of that. And the end of that as well ... that being the bio-secure English summer. It's been a remarkable effort to get 18 fixtures up and running into the teeth of a pandemic, and the quality of the cricket has been remarkable in the circumstances. An absolute humdinger to close out the festivities. Thanks to all of you for joining us, and stay tuned for post-match reaction, with George Dobell cranking it up as we speak. From Miller, Danyal, Thilak and the team. Thanks and goodnight!Akhilesh: "They didn't win this game, but what a season of cricket it has been for England! In tests, they've sorted out their opening and wicketkeeping issues and have got a bowling unit that's bowling with terrific rhythm. And in white-ball cricket, they continue to assert their dominance, winning from ridiculous positions and their bench strength is so formidable that 'every player in the 11 is replaceable' as Morgan rightly put it. We are truly witnessing the golden age of England cricket."Tasmeem: "The perfect choice for both awards. Good on you, Maxi. Hopefully you continue to mature a bit more and hold your nerves till the end."Glenn Maxwell is Player of the Match, and of the Series "It's a short boundary out there, we tried to target it, and take it deep. It was tempting, I tried most balls to go that way, but also pick my moments, get the right length, get it up in the air and I was confident it would travel. My technique doesn't look traditional but I feel calm at the crease, not so much moving around."Eoin Morgan: "We were still in the game, when you break big partnerships and the ball is offering a bit, you're never out of the game. But Australia were too good for us today, starting in the first over, to post over 300 is a huge positive for us. Pegging Australia back, we were right in the game but Carey and Maxwell played outstandingly well.""Small opportunities that we might have taken advantage of might have changed the game, but when you've been beaten  by a better side you have to put your hand up."Who knows what's next for England... "sitting around and waiting until tours are confirmed." South Africa next, in theory. India at some stage, hopefully.Aaron Finch: "An incredible game of cricket. When you've got Pat Cummins behind Maxwell [you're in trouble] but Maxi can counterattack and that partnership with Alex was outstanding. The work they've put in has paid off. There's not many bowlers can stop him when he's having one of his days."9.18pm Pranav: "I think George Dobell wrote the article after the first game "Australia will always be the benchmark for England". Bang on! Whattta game!! " He certainly did ... "Ollie Pope has been diligently watching Surrey all evening, but has just gone inside to watch this finish on the TV," says Matt Roller, down at The Oval. So he's the bloke who moved on the balcony then!Patch: "Fascinating series - not sure the better team won but we will take it. Consigning the collapse from game two to history books is a bad idea, as it doing exactly not that that has made Australia a World Cup powerhouse - two out of three isn't good enough if you want the trophy! Also a quick thanks to the Cricinfo team for covering this unusual English summer, it's helped me along during the lockdown restrictions of Melbourne winter. Cheers!" You are very welcome, it's been lively! And a lot more fun than most late September ODIs in living memory!9.12pm Good lord, what a contest, what a series! Australia were dead and buried in that chase, but a stunning stand between Maxwell and Carey turns the tables.Centuries for both men, and though they both succumbed at the death, their tail held firm to secure a memorable triumph. The whole Aussie squad have bundled onto the pitch, scenes oddly reminiscent of West Indies' squad at The Oval in the Champions Trophy final in 2004... similar time of the year, autumn closing in, and odds overturned by the visitors. That meltdown in game two can be consigned to the history books ...Piyush: "A bit too much of a gamble by Morgan. Always easier for a decent tailender to smack a spinner vs a tearaway fast bowler like Woods! Having said that, Australia have snatched victory from the jaws of defeat!" True. Though Rashid's variations have done for many a tail. Superb strike from Starc settled the manner to be fair!Gautmas: "73/5 everybody wrote Australia off considering they were facing the current WC champions at home. Little did they know they are up against 5 time WC champions"49.44Rashid to Starc, FOUR runsswept, and nailed through backward square! Australia win the match, win the series, end England's unbeaten home run! Scenes!
Samip Dahal: "My heartbeat does not allow for a super over. I repeat. No super over please....."49.31Rashid to Cummins, 1 runback of a length, thumped hard to long-on, just the single. Two to get, three balls...The right-hander on strike. Time for some big legbreaks I sense...
49.21Rashid to Starc, 1 runanother googly, clawed into the leg side, Bairstow is lurking at deep midwicket, and it's just as well he didn't make better contact... another run ticked off!
49.16Rashid to Starc, SIX runsHigh and handsome! Archer's back on the rope at long on... but Starc has nailed the googly! Right in his slot, Rashid went for the wrong option there, and the new man was waiting for it!
end of over 494 runs • 1 wicketAUS:  293/7CRR: 5.97 • RRR: 10.00 • Need 10 runs from 6bPat Cummins3 (4)Jofra Archer9-0-60-1Adil Rashid7-0-56-1And well, there you go, the wicket changes Morgan's mind. Two tailenders in the sights... it's going to be Rashid! Ten to defend. He can't, can he? It won't be, will it ...?48.6wArcher to Carey, OUTstunning catch at third man! Mark Wood! Tumbling forward, like a mirror image of Simon Jones at Edgbaston ... swooping low, as Archer banged in the short wide one! The umpires are taking a look to make sure, but that reaction was unequivocal! Dipping out of the lights, amazing athleticism, stretching to the pitch, and suddenly, the key man is gone, and perhaps as importantly, it's another dot!AT Carey c Wood b Archer 106 (168m 114b 7x4 2x6) SR: 92.98
48.61wArcher to Carey, 1 widethat one is a wide though! Tried for the same ball, but just the wrong side of reachable. Good option though ... I wonder if he'll try it again...
48.5•Archer to Carey, no runwell bowled, Carey made room, Archer dangled it just inside the tramline, and he can't make contact! Precious dot!